<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Raphaël Choquet - Developpeur web Full-stack</title>
    <meta name="description" content="Raphaël Choquet développeur web Full-Stack sur Paris en fin d'alternance chez Lacoste.">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,700,500italic,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" media="screen" charset="utf-8">
    <script src="/js/modernizr.custom.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#banner">Raphaël Choquet</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#projects">Projets</a></li>
                    <li><a href="#about">A propos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <footer>
        <section class="social-container">
            <div class="container">
                <ul class="row social">
                    <li class="col-xs-4">
                        <a class="twitter" target="_blank" href="https://twitter.com/raphael_choquet">
                            <img src="/img/twitter.png" alt="Twitter" with="36" height="36"/>
                        </a>
                    </li>
                    <li class="col-xs-4">
                        <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/raphaelchoquet">
                            <img src="/img/linkedin.png" alt="Linkedin" with="36" height="36"/>
                        </a>
                    </li>
                    <li class="col-xs-4">
                        <a class="github" target="_blank" href="https://github.com/raphaChoquet">
                            <img src="/img/github.png" alt="Github" with="36" height="36"/>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="footer-infos">
            <div class="container ">
                <div class="row">
                    <p class="col-sm-4">
                        Développeur web Full-Stack
                    </p>
                    <p class="col-sm-4">
                        Vie dans la région Parisienne
                    </p>
                    <p class="col-sm-4">
                        rapha.choquet@gmail.com
                    </p>
                </div>
            </div>
        </section>
    </footer>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
