<main>
    <section class="banner">
        <h1>Raphaël Choquet<span class="weight">Développeur Web Full-stack</span></h1>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center title-section">A propos</h2>
            <div class="row block-text">
                <p class="text-center col-md-8 col-md-offset-2">
                    Salut je m'appelle Raphaël Choquet, je suis étudiant en Développement Web et je finis en septembre mes études.
                    Dévoppeur Web Full-Stack, je cherche un travail pour début octobre 2016. Je suis actuellement intéressé par le JS
                    particuliérement par NodeJS.
                </p>
                <p class="text-center col-md-8  col-md-offset-2">
                    Demain j'aimerais intégrer une équipe avec une bonne ambiance mais aussi avec des experts dans le domaine.
                    Je souhaites pouvoirs augmenter en compétences et gagner en qualité et en propreté en développement.
                </p>
                <p class="text-center col-md-8  col-md-offset-2">
                    <a href="/cv.pdf">Télécharger mon CV</a>
                </p>
            </div>
        </div>
    </section>
</main>
